<!DOCTYPE html>
<html>
  <head>
    <title> 'title' :: index.php </title>
  </head>
  <body>
    <div id="root">
      <div id="two-columnts">
        <div id="main">

          <div id="main-index-override">

            <div id="main-index"> 

              <p>'main' :: two-columns.php</p>

            </div>

          </div>

        </div>
        <div id="side">

          <p>'side' :: index.php</p>

        </div>
      </div>
      <div id="footer">

        <p>'footer' :: two-columns.php</p>

      </div>

    </div>
  </body>
</html>